footer
	width 100%
	height auto
	padding 10px 0
	position fixed
	left 0
	bottom 0
	background-color #39b899
	p
		width 100%
		text-align center
		color #FFF
		font-size .9em
		padding 0 2%
		a
			color $white
			font-weight 600
			text-decoration underline
