header 
  width 100%
  display inline-block
  background-color $keppel
  h1
    height 32px
    display flex
    justify-content center
    align-items center
    text-align center
    font-size 1.4em
    color $white
    font-weight 600
    text-transform uppercase  
    i
      display flex
      justify-content center
      align-items center
      margin-right 10px
    svg
      width 25px
      height 25px
  .social
    display flex
    justify-content center
    padding-bottom 0px
  .social-networks
    height 28px
    padding 0
    display flex
    align-items center
    justify-content center
    p
      float left
      margin-right 5px
      color $white
      font-weight 400
      font-size .7em
      text-align right
    li
      text-align center
      float left
      margin 0 5px
      display flex
      align-items center
      cursor pointer
    svg
      width 25px
      height 25px