.info-github
	height 100%;
	display flex
	justify-content center
	flex-direction column
	p
		text-align center
		font-size 1em
		color $black
		a
			color $black
			text-decoration none
			font-weight 600
