.info-github
	height 100%;
	display flex
	justify-content center
	flex-direction column
	p
		text-align center
		font-size .9em
		color $black
		a
			color $black
			text-decoration none
			font-weight 600
@media screen and (min-width 768px)
	.info-github
		p
			font-size 1.1em
			margin-bottom 20px
