.repos-per-language
	h2
		width 100%
		display inline-block
		font-weight 300
		font-size 1.2em
		margin-bottom: 20px
		text-align center

@media screen and (min-width 768px)
	.repos-per-language
		h2
			font-size 1.4em
