.user-data
  i
    margin-right 5px
    display flex
    align-items center
  svg 
    width 20px
    height 20px
  ul
    display flex
    flex-direction column
  li
    padding 5px 0
    display flex
    align-items center
