*
  margin 0
  padding 0
  box-sizing border-box
ul
  list-style none

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')

body
  background-color $wild-sand
  font-family 'Open Sans', sans-serif
  font-size 100%

.row-profile 
	display flex

.hide
	display none
