$wild-sand = #f7f7f7
$keppel =  #39b899
$white = #ffffff
$black = #000;

//variáveis da grade
$grid-columns = 12
$padding-columns = .63rem

//619px
$breakpoint-mobile = 43.8em

//900px
$breakpoint-desktop = 62.5em
